*.idea
*~
*__pycache__*
*.pyc
*.vscode
*.pytest_cache
*.csv
**/local.py
*.log
**/checkpoints
/data
/tensorboard
/logs
/output
/checkpoints
/test
/pretrained_models
test.py
train.sh
tracking/analysis_results.py
test.onnx
/train.sh
tracking/analysis_results.py
*.onnx
*.pth